{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <h1>Logowanie</h1>
  {% if form.errors %}
  <p>
    Nazwa użyrtkownika lub hasło są nieprawidłowe.
    Spróbuj ponownie.
  </p>
  {% else %}
    <p>Wypełnik poniższy formularz aby się zalogować. Jeżeli nie masz jeszcze konta,
    możesz je utworzyć <a href="{% url 'register' %}">tutaj</a> </p>
<ul><li class="google"><a href="{% url 'social:begin' 'google-oauth2' %}">Zaloguj się za pomocą Google</a></li></ul>
  {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Zaloguj"></p>
      </form>
      <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
    </div>
{% endblock %}